
.title1 {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 30px;
}

.btn {
  margin-top: 20px;
}

.card-custom1 {
  margin-right: 20px;
  margin-top: 20px;
  margin-left: 20px;
  height: 100%;
  width: 100%;
  padding-bottom: 20px;
}

.bar-progress {
  border: black solid 1px;
  height: 30px;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 10px;
}

.msg {
  padding-top: 5px;
  height: 30px;
  color: white;
  margin-right: 20px;
  margin-top: 10px;
  margin-left: 20px;
  height: 100%;
  width: 100%;
}

.msg-danger {
  background-color: brown;
}

.msg-success {
  background-color: cornflowerblue;
}

#bar-jog-id {
  background-color: green;
  height: 100%;
  width: 100%;
}

#bar-monstro-id {
  background-color: green;
  height: 100%;
  width: 100%;
}

.alert {
  width: 100%;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 0px;
  margin-top: 10px;
}
